@media (min-width: 320px) {
  .brand_name {
    bottom: 0;
    top: 10%;
  }
  .aboutAnika {
    max-width: 90% !important;
    margin: 125px auto;
  }
  #section1 {
    margin: 0 0 200px;
  }
  .right_side {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
  }
  .right_side p {
    font-size: 3em !important;
    width: 90% !important;
    text-align: left;
    float: none;
    margin: 0 0 0 50px;
  }
  .right_side h1 {
    font-size: 11em;
    text-align: center;
    margin-bottom: 5%;
  }
  .right_side img {
    width: 250px;
    margin: 5% 0 5% 0;
    float: none;
  }
  .dolls-img {
    display: block;
    margin: 0 auto;
    height: 600px;
    width: auto;
    position: relative;
  }
  .main_page .collide {
    width: 100%;
    height: 40%;
    position: absolute;
    right: 0;
    bottom: 10%;
    left: 0;
    margin: auto;
  }
  .oval-thought-border {
    padding: 64% 13% 0 16%;
    background: url("../img/cloud2.svg") no-repeat;
  }
  .thinking {
    position: absolute;
    width: 791px;
    height: 815px;
    right: 10%;
    top: 50%;
  }
  #section1 p {
    font-size: 3em;
    width: 90%;
    text-align: justify;
  }	
}

@media (min-width: 768px) {
  #section2 .col-md-5 {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  #section2 .col-md-7 {
    -webkit-box-flex: 0 !important;
    -ms-flex: 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .mesyats_icon {
    width: 80px;
    height: 180px;
    left: 5%;
  }
  .brand_name {
    bottom: 0;
    top: 10%;
  }
  .aboutAnika {
    max-width: 90% !important;
    margin: 125px auto;
  }
  #section1 {
    margin: 0 0 200px;
  }
  .right_side {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
  }
  .right_side p {
    font-size: 3em !important;
    width: 90% !important;
    text-align: left;
    float: none;
    margin: 0 0 0 50px;
  }
  .right_side h1 {
    font-size: 11em;
    text-align: center;
    margin-bottom: 5%;
  }
  .right_side img {
    width: 250px;
    margin: 5% 0 5% 0;
    float: none;
    display: none;
  }
  .dolls-img {
    display: block;
    margin: 0 auto;
    height: 600px;
    width: auto;
    position: relative;
  }
  .aboutAnika {
    height: 700px;
    margin: 0 auto;
    padding-top: 90px;
  }
  .main_page .collide {
    width: 100%;
    height: 40%;
    position: absolute;
    right: 0;
    bottom: 10%;
    left: 0;
    margin: auto;
  }
  .oval-thought-border {
    padding: 62% 13% 0 16%;
    background: url("../img/cloud2.svg") no-repeat;
  }
  .thinking {
    position: absolute;
    width: 791px;
    height: 815px;
    right: 10%;
    top: 40%;
  }
  #section1 p {
    font-size: 3em;
    width: 90%;
    text-align: justify;
  }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #section2 .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667% !important;
        flex: 0 0 41.666667% !important;
        max-width: 41.666667% !important;
    }
    #section2 .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333% !important;
        flex: 0 0 58.333333% !important;
        max-width: 58.333333% !important;
    }
    .main_page .collide {
        width: 85%;
        height: 44%;
        position: absolute;
        right: 0;
        bottom: 21%;
        left: 0;
        margin: auto;
    }
    .mesyats_icon {
        width: 50px;
        height: 115px;
        left: 5%;
      }
    #section1 p {
        font-size: 1.9em;
        width: 95%;
        text-align: justify;
    }
    .aboutAnika{
        height: 300px;
        margin: 35px auto;
    }
    .col-xs-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .dolls-img {
        display: block;
        margin: -8% 0 0% 0;
        height: 500px;
        width: auto;
        position: absolute;
    }
    .right_side {
        display: block;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .right_side p {
        font-size: 1.7em !important;
        width: 90% !important;
        text-align: left;
        float: left;
        margin: 0 auto;
    }
    .right_side h1 {
        font-size: 5em;
        text-align: left;
        margin-bottom: 7%;
    }
    .thinking {
        position: absolute;
        width: 671px;
        height: 470px;
        right: 7%;
        top: 13%;
    }
    .oval-thought-border {
        padding: 16% 8% 0 36%;
        background: url(../img/cloud.svg) no-repeat;
    }
    .oval-thought-border p {
        font-size: 2.3em!important;
        width: 100%!important;
        color: #000;
    }
}

@media (min-width: 992px) {
  #section2 .col-md-5 {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  #section2 .col-md-7 {
    -webkit-box-flex: 0 !important;
    -ms-flex: 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  #section1 {
    margin: 0;
  }
  .dolls-img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    position: absolute;
  }
  .right_side {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
  }
  .right_side p {
    font-size: 2.2em !important;
    width: 90% !important;
    text-align: left;
    float: none;
    margin: 0 0 0 50px;
  }
  .right_side h1 {
    font-size: 11em;
    text-align: center;
    margin-bottom: 5%;
  }
  .right_side img {
    width: 250px;
    margin-top: 5%;
    float: none;
  }
  .thinking {
    position: absolute;
    width: 720px;
    height: 320px;
    right: 2%;
    top: 2%;
    -webkit-animation: pulsing 8s infinite;
    animation: pulsing 8s infinite;
  }
  .oval-thought-border {
    padding: 17% 14% 0 42%;
    background: url("../img/cloud.svg") no-repeat;
  }
  #section1 p {
    font-size: 1.9em;
    width: 80%;
    text-align: justify;
  }
}


@media (min-width: 1200px) {
  .right_side {
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .right_side p {
    font-size: 2.2em !important;
    width: 80% !important;
    text-align: left;
    float: left;
    margin: 0 auto;
  }
  .right_side h1 {
    font-size: 11em;
    text-align: left;
    margin-bottom: 5%;
  }
  .right_side img {
    width: 250px;
    margin-top: 10%;
    float: left;
  }
  .aboutAnika {
    max-width: 80% !important;
    max-width-margin: 0 auto;
  }
  .dolls-img {
    display: block;
    margin: -10% 0 0% 0;
    height: auto;
    width: 100%;
    position: absolute;
  }
  .main_page .collide {
    width: 80%;
    height: 60%;
    position: absolute;
    right: 0;
    bottom: 10%;
    left: 0;
    margin: auto;
  }
  .thinking {
    position: absolute;
    width: 940px;
    height: 420px;
    right: 5%;
    top: 10%;
  }
}


@media (min-width: 1440px) {
  .dolls-img {
    display: block;
    margin: -10% 0 0% 0;
    height: auto;
    width: 100%;
    position: absolute;
  }
  .main_page .collide {
    width: 80%;
    height: 60%;
    position: absolute;
    right: 0;
    bottom: 10%;
    left: 0;
    margin: auto;
  }
  .thinking {
    position: absolute;
    width: 1050px;
    height: 470px;
    right: 13%;
    top: 12%;
  }
  #section1 p {
    font-size: 1.9em;
    width: 70%;
    text-align: justify;
  }
}






@media (min-height: 800px) {
    /* CSS stuff */
}