@import "vars"


/*==========  Desktop First  ==========*/


//Extra large: ≥1200px
+media-breakpoint-down(xl)

//Large: ≥992px
+media-breakpoint-down(lg)

//Medium: ≥768px
+media-breakpoint-down(md)

//Small: ≥576px
+media-breakpoint-down(sm)

//Extra small: >0
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

//Extra small: <576px
+media-breakpoint-up(xs)

//Small: ≤576px
+media-breakpoint-up(sm)

//Medium: ≤768px
+media-breakpoint-up(md)
	.brand_name
	    bottom: 0
	    top: 10%
	.aboutAnika
		max-width: 90%!important
		margin: 125px auto
	#section1
		margin: 0 0 200px
	.right_side
		display: block
		align-items: center
		justify-content: center
		margin: 20px 0 0 0
		p
			font-size: 3em !important
			width: 90% !important
			text-align: left
			float: none
			margin: 0 0 0 50px
		h1
			font-size: 11em
			text-align: center
			margin-bottom: 5%
		img
			width: 250px
			margin: 5% 0 5% 0
			float: none
	.dolls-img
	  display: block
	  margin: 0 auto
	  height: 600px
	  width: auto
	  position: relative
	.main_page
		.collide
				width: 100%
				height: 40%
				position: absolute
				right: 0
				bottom: 10%
				left: 0
				margin: auto
	.oval-thought-border
		padding: 64% 13% 0 16%
		background: url("../img/cloud2.svg") no-repeat
	.thinking
		position: absolute
		width: 791px
		height: 815px
		right: 10%
		top: 50%
	#section1
		p
			font-size: 3em
			width: 90%
			text-align: justify
//Large: ≤992px
+media-breakpoint-up(lg)
	#section1
		margin: 0
	.dolls-img
    display: block
    margin: 0 auto
    height: auto
    width: 100%
    position: absolute
	.right_side
		display: block
		align-items: center
		justify-content: center
		margin: 20px 0 0 0
		p
			font-size: 2.2em !important
			width: 90% !important
			text-align: left
			float: none
			margin: 0 0 0 50px
		h1
			font-size: 11em
			text-align: center
			margin-bottom: 5%
		img
			width: 250px
			margin-top: 5%
			float: none
	.thinking
		position: absolute
		width: 720px
		height: 320px
		right: 2%
		top: 2%
		-webkit-animation: pulsing 8s infinite
		animation: pulsing 8s infinite
	.oval-thought-border
		padding: 17% 14% 0 42%
		background: url("../img/cloud.svg") no-repeat
	#section1
		p
			font-size: 1.9em
			width: 80%
			text-align: justify
//Extra large: ≤1200px
+media-breakpoint-up(xl)
	.right_side
		display: block
		align-items: center
		justify-content: center
		margin: auto
		p
			font-size: 2.2em !important
			width: 80% !important
			text-align: left
			float: left
			margin: 0 auto
		h1
			font-size: 11em
			text-align: left
			margin-bottom: 5%
		img
			width: 250px
			margin-top: 10%
			float: left
	.aboutAnika
		max-width: 80%!important
    margin: 0 auto
	.dolls-img
    display: block
    margin: -10% 0 0% 0
    height: auto
    width: 100%
    position: absolute
	.main_page
		.collide
				width: 80%
				height: 60%
				position: absolute
				right: 0
				bottom: 10%
				left: 0
				margin: auto
	.thinking
		position: absolute
		width: 940px
		height: 420px
		right: 5%
		top: 10%

//2Extra large: ≤1400px
+media-breakpoint-up(2xl)
	.dolls-img
    display: block
    margin: -10% 0 0% 0
    height: auto
    width: 100%
    position: absolute
	.main_page
		.collide
				width: 80%
				height: 60%
				position: absolute
				right: 0
				bottom: 10%
				left: 0
				margin: auto
	.thinking
		position: absolute
		width: 1050px
		height: 470px
		right: 13%
		top: 12%
	#section1
		p
			font-size: 1.9em
			width: 70%
			text-align: justify